@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 150 7% 97%;
    --foreground: 150 30% 8%;
    --card: 0 0% 100%;
    --card-foreground: 150 30% 8%;
    --popover: 0 0% 100%;
    --popover-foreground: 150 30% 8%;
    --primary: 152 88% 50%;
    --primary-foreground: 150 50% 10%;
    --secondary: 150 20% 94%;
    --secondary-foreground: 150 30% 15%;
    --muted: 150 15% 94%;
    --muted-foreground: 150 10% 45%;
    --accent: 150 20% 94%;
    --accent-foreground: 150 30% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 150 15% 90%;
    --input: 150 15% 90%;
    --ring: 152 88% 50%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 154 35% 9%;
    --foreground: 150 15% 92%;
    --card: 154 35% 9%;
    --card-foreground: 150 15% 92%;
    --popover: 154 35% 9%;
    --popover-foreground: 150 15% 92%;
    --primary: 152 88% 50%;
    --primary-foreground: 150 50% 10%;
    --secondary: 152 35% 15%;
    --secondary-foreground: 150 15% 92%;
    --muted: 152 35% 15%;
    --muted-foreground: 150 15% 65%;
    --accent: 152 35% 15%;
    --accent-foreground: 150 15% 92%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 152 35% 15%;
    --input: 152 35% 15%;
    --ring: 152 76% 48%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-display;
  }
}

@layer utilities {
  .invoice-pattern {
    background-image: radial-gradient(rgba(255, 255, 255, 0.1) 1px, transparent 1px);
    background-size: 20px 20px;
  }
}
